body {
    background-color: wheat;
}
.fans {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 10px;  
}
img {
    cursor: pointer;
    border-color: skyblue;
    border-radius: 15px;
    margin-top: 30px;
    display: block;
    margin: auto;
    width: 1750px;
    height: 900px;
}
table {
    border-spacing: 0px;
    margin: auto;
    border-radius: 5px;
    border-color: brown;
}
th {
    background-color: rgb(204, 35, 153);
    font-size: 23px;
    height: 40px;
    text-align: center;
    
}
td {
    
    font-weight: bold;
    font-size: 20px;
    width: 1000px;
    height: 40px;
    text-align: center;
    
}
.come {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 10px; 
}
.gone {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 10px; 
}
p span {
    font-size: 30px;
    color: blue;
    border: 3px dashed red;
    padding: 10px;
}
tr:hover {
    background: rgb(37, 83, 184);
}
input {
    width: 100px;
    height: 40px;
    background: skyblue;
    font-size: 20px;

}
.back {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 880px;
    margin-left: 880px;
    border-radius: 10px;
}
.backk {
    background: skyblue;
}
